/* Estilos Generales */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Mejora la apariencia de los botones */
.button, .quantity-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button:hover, .quantity-btn:hover {
    background-color: #0056b3;
}

/* Alinea correctamente los elementos dentro de cada celda de la tabla */
.table td {
    vertical-align: middle;
    text-align: center;
}

/* Estilos específicos para los inputs */
.input-number, .quantity-input {
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: .375rem .75rem;
}

/* Mejoras visuales para la tabla */
.table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table thead th {
    background-color: #007bff;
    color: white;
    border-bottom: none;
}

.table tbody td {
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Estilos para la sección de notas */
.note-input {
    max-width: 100%; /* Asegura que el campo de notas no se desborde */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho total */
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 3px; /* Añade un pequeño espacio entre los botones y el campo de notas */
}

.quantity-control {
    display: flex;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 3px; /* Añade un pequeño espacio entre los elementos */
}

.quantity-btn {
    width: 20px; /* Anchura fija para los botones */
    height: 30px; /* Altura fija para los botones */
    line-height: 30px; /* Asegura que el texto (+/-) esté centrado verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da; /* Borde para que coincida con el estilo del input */
    background-color: #f8f9fa; /* Color de fondo para que coincida con el estilo general */
    color: #495057; /* Color del texto */
    cursor: pointer;
    border-radius: 0.5rem; /* Bordes redondeados */
}

.quantity-btn:hover {
    background-color: #e9ecef; /* Cambia el color de fondo al pasar el mouse */
}

.quantity-input {
    width: 50px; /* Reduce el ancho del input para hacerlo más compacto */
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem; /* Ajusta el padding para que el input no sea demasiado alto */
}

@media screen and (max-width: 768px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto; /* Permite desplazamiento horizontal solo si es necesario */
    }

    .table td, .table th {
        display: block; /* Hace que las celdas de la tabla se muestren como bloques */
        width: 100%;
    }
}

 

.pie-orden {
    position: fixed;
    bottom: 0;
    left: 50%; /* Centra el pie de la orden */
    transform: translateX(-50%); /* Centra el pie de la orden */
    width: 50%; /* Ajusta este valor según el ancho de tu columna */
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between; /* Asegura que el total y el botón estén en los extremos */
    align-items: center;
}

.fixed-bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4e69; /* Fondo oscuro */
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.order-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(47, 134, 0);
    justify-content: space-around;
    padding: 10px;
    background-color: #22223b; /* Color de fondo del pie de la orden */
}

.total-venta {
    margin-bottom: 10px;
    color: rgb(47, 134, 0);
    font-size: 16px;
}

.botones-accion .btn {
    margin: 5px; /* Espaciado entre botones */
}

/* Estilos específicos para los botones, ajusta los colores según necesites */
.botones-accion .btn-info {
    background-color: #17a2b8; /* ABRIR */
}

.botones-accion .btn-primary {
    background-color: #007bff; /* IMPRIMIR */
}

.botones-accion .btn-success {
    background-color: #28a745; /* PAGAR */
}

.botones-accion .btn-secondary {
    background-color: #6c757d; /* DESECHABLE */
}

.order-details {
    border: 1px solid #ccc; /* Contorno para la sección de detalles */
    border-radius: 8px;
    margin-top: 20px;
}


.order-bebida {
    border-left: 5px solid #3498db; /* Blue for drinks */
}

.order-sushi {
    border-left: 5px solid #e74c3c; /* Red for sushi */
}
.order-type {
    font-style: italic;
    margin-top: 0.5rem; /* Space out the order type from the total */
}

/* Adjustments for order ID, status, and total for better emphasis */
.order-card .order-id,
.order-card .order-status,
.order-card .order-total {
    font-size: 1.1rem; /* Slightly larger than other text */
}

/* Ensure adequate padding inside the cards for better layout */
.order-card {
    padding: 1rem; /* Adjust as necessary */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the content */
    height: 100%; /* Full height for consistent card size */
}



.order-column, .orden-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.orden-container {
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 150px); /* Altura máxima ajustada al viewport */
}
